In [6]:
import base64
import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="12345678",
    database="evolve"
)

cursor = conn.cursor()
cursor.execute("SELECT resume FROM myapp_careerapplication WHERE name = 'silambarasan'")
resume_encoded = cursor.fetchone()[0]

resume_bytes = base64.b64decode(resume_encoded)

with open("resume1_output.pdf", "wb") as f:
    f.write(resume_bytes)

print("PDF saved successfully.")

PDF saved successfully.

In [7]:
print("Type of resume:", type(resume_encoded))
print("First 100 characters:\n", resume_encoded[:100])

Type of resume: <class 'str'>
First 100 characters:
 resumes/Nirmal-Raj-_Data_Scientist-Resume_1.pdf